# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[S]ettings/
[Mm]emoryCaptures/
[Ee]xport/

# Visual Studio
*.csproj
*.sln
*.unityproj
*.pidb
*.user
*.suo
*.userprefs
*.booproj

# VS Code
.vscode/

# JetBrains Rider
.idea/
*.sln.DotSettings.user

# OS
.DS_Store
Thumbs.db

# Misc
*.log
